@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

body{
    margin: 0 auto;
}
/*Navigation*/
nav{
    background-color: #051f20;
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5rem;
    font-size: 20px;
    color: white;
    align-items: center;
}
.buttonnav{
    border: none;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #daf1de;
    color: #051f20;
    font-weight: 800;
}
a{
    text-decoration: none;
}
/*About us*/
.about{
    background-color: #235347;
    color: #daf1de;
    height: 600px;
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}
h1{
    font-size: 3rem;
}
p{
    opacity: 0.5;
}
/*plants*/
.grid-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px; 
    gap:2rem;
    position: absolute;
    top: 430px;
    width: 50%;
    justify-content: center;

}
.grid-items > :nth-child(2){
    grid-row: span 2;
}
.plants{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*plantcare*/

.plantcare{
   margin-top: 500px; 
   padding: 0 5rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.plantbtn{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    }
button{
    padding: 15px 50px;
    border: none;
    border-radius: 100px;
    background-color: #235347;
    color: #daf1de;
    font-size: 20px;
}
.btn2{
    background-color: #daf1de;
    border: 2px solid #235347;
    color: #051f20;
}

/*Plant collection*/

.collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 5rem;
    gap: 4rem;
    background-color: #051f20;
    color: #fff;
    margin-top: 10px;
}
.collection p{
    opacity: 100%;
}
.plant-collection{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.plantcard{
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.plantcard img{
    justify-content: center;
    text-align: center;
}

.data{
    display: flex;
    flex-direction: row;
    padding:0px;
    font-size: 20px;
    gap: 5rem;
}
.datachild ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}
.datachild ul li{
    font-size: 10px;
   
}
.green{
    color: #8eb69b;
}

/*New Varieties*/
.variety{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 3rem 5rem;
    
}
.variety-card1{
    display: flex;
    flex-direction: row;
    gap:3rem;
    
}
.grid-variety{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap:2rem;
    
}
.grid-variety > :nth-child(2){
    grid-row: span 2;
}
.variety-text{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.variety-h3topic{
    font-size: 20px;
    color: #051f20;
}
.variety-h4topic{
    font-size: 15px;
    color:#235347;
}
.variety-p{
    color: #051f20;
    opacity: 100%;
}
.variety-text .plantbtn button{
    background-color: #8eb69b;
    color: #051f20;
    padding: 5px 20px;
    font-size: 15px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap:2rem;
    
}
/*blog*/
.blog{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 5rem;
    justify-content: center;
    align-items: center;
    background-color: #235347;
    margin-top: 6rem;
    color: #fff;
}
.blog-textlist,
.blog-card-list{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    text-align: center;
}
.blog-card{
    background-color: #fff;
    height: 500px;
    color: #051f20;
    padding: 10px 10px;
    border-radius: 30px;
}
.blog-card img{
    border-radius: 30px 30px 0 0;
}
























